Doctype 
    html
        style(type="text/css")
            text-align center
        head
            <meta charset="UTF-8">
            title products
        body
            h1 Welcome to products dept.
            p All the products here!
            a(href="/add") Add Product