Doctype
    html
        head
            <meta charset="UTF-8">
            title products
        body
            h1 Welcome to products dept.
            p These are all products
            select
                each products
                    div Result {this.name}